@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
  @apply !bg-white text-cyan-500 ;
}


.router-link-active b:nth-child(1){
    @apply content-[''] absolute -top-4 right-0 bg-white w-4 h-4        
}
.router-link-active b:nth-child(1)::before{
    @apply content-[''] absolute top-0 right-0 bg-cyan-500 w-4 h-4 rounded-ee-xl        
}
.router-link-active b:nth-child(2){
    @apply content-[''] absolute -bottom-4 right-0 bg-white w-4 h-4        
}
.router-link-active b:nth-child(2)::before{
    @apply content-[''] absolute bottom-0 right-0 bg-cyan-500 w-4 h-4 rounded-se-xl        
}
/* .router-link-active::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0px;
    background-color: red;
    width: 20px;
    height: 20px;
    
} */
